body { 
     background-color: #000000;
     text-align: center;
     padding: 5px;
 } 


a {
     border-style: solid;
     border-color: #ACADA6;
     border-width: medium;
     border-radius: 40px;
     text-decoration: none;
     display: inline-block;
     overflow: hidden;
   line-height: 0; 
     font-size: 0; 
}


a:hover { 
     border-color: #FFFFFF;
     cursor: pointer; 
} 


a:active { 
     transform: scale(0.99); 
}